body{
    font-size: 1.4em;
    font-family: /*"Segoe UI"*/Arial, Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}
ul, li, ol {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}


input[type="checkbox"], input[type="radio"] {
    border: 1px solid #bbb;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #555;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    border-radius: 2px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"]:checked:before, input[type="radio"]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f00c';
    margin: 7px 0 0 -1px;
    color: #1e8cbe;
}

input[type="radio"]:checked:before {
    content: '\f111';
}

a.btn-sm>i{
	font-size: 1.2em;
	font-weight: normal;
}

.form-group .checkbox label>input[type='checkbox']{
	margin: 2px 4px 0px -20px;
}

.forgot{
	line-height: 35px;
	display: block;
}

.field-validation-error {
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    line-height: 20px;
    border-radius: 2px;
    padding: 5px 8px;
    display: block;
    margin-top: 5px;
    font-size: 1em;
}
/* custom validation-summary-errors css */
.message-box {
    position: absolute;
    width: 50%;
    text-align: center;
    left: 25%;
    top: 2px;
    z-index: 99;
    display: none;
}

/* tip box */
.warning, .success, .info, .error {
    line-height: 20px;
    border-radius: 2px;
    padding: 5px 8px;
}

.validation-summary-errors {
    line-height: 20px;
    border-radius: 2px;
    padding: 5px 8px;
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid #eed3d7;
}

.validation-summary-errors.summary {
    background-color: transparent;
    border: none;
    color: inherit;
}

.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

.success {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}

.error {
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid #eed3d7;
}

.content {
    background-color: #eceef1;
    width: 400px;
    margin: 40px auto 10px auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: absolute;
	top: 10%;
	right: 0;
	left: 0;
	-webkit-overflow-scrolling: touch;
	-webkit-overflow-scrolling: -blackberry-touch;
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
}

.content .forget-form {
    display: none;
}
.content .login-form, .content .forget-form {
    padding: 0;
    margin: 0;
}

.content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}
.content h3 {
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
}

.form-control.form-control-solid {
    background-color: #F1F3F8;
    border-color: #F1F3F8;
    color: #A6B2BA;
}
.form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.content .form-control {
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
    border-radius:0;
}

.content .form-control:focus,.content .form-control:active {
    border: 1px solid #c3ccda;
    box-shadow: none;
}

.content .form-actions {
    clear: both;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 0px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

.content .form-actions .btn-success {
    font-weight: 600;
    padding: 10px 20px !important;
}
.content .form-actions .btn {
    margin-top: 1px;
    border-radius:0;
}
.uppercase {
    text-transform: uppercase !important;
}

.content .rememberme {
    margin-left: 8px;
    margin-top: 10px;
}
.content .check {
    color: #8290a3;
}
label {
    font-weight: 400;
    font-size: 14px;
}
.content .forget-password {
    font-size: 14px;
    float: right;
    display: inline-block;
    margin-top: 10px;
}
.control-label {
    display:none;
}

@media (max-width: 440px) {
   .content {
    width: 280px;
    margin-top: 10px;
  }

   .content h3 {
    font-size: 22px;
  }

  .forget-password {
    display: inline-block;
    margin-top: 20px;
  }


  .login .checkbox {
    font-size: 13px;
  }
}