<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package id="EntityFramework" version="4.1.10311.0" targetFramework="net451" />
    <package id="ModelScaffolding" version="0.9.2" targetFramework="net451" />
    <package id="MvcScaffolding" version="1.0.0" targetFramework="net451" />
    <package id="T4Scaffolding" version="1.0.8" targetFramework="net451" />
    <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net451" />
</packages>